<div class="main bg-dark shadow p-3">
    <section class="header d-flex justify-content-center align-items-center">
        <h2 class="text-white user-select-none">Filma24</h2>
    </section>

    <section class="body shadow rounded my-2 d-flex flex-column justify-content-evenly px-2">
        <div class="d-flex align-items-center">
            <span class="w-75 user-select-none">Remove Ads</span>
            <app-toggle class="w-25 offset-top"
                        [active]="blockAds"
                        (state)="onChromeUpdateSync($event, 'ads')">
            </app-toggle>
        </div>
        <div class="d-flex align-items-center">
            <span class="w-75 user-select-none">Remove Redirects</span>
            <app-toggle class="w-25 offset-top"
                        [active]="blockRedirects"
                        (state)="onChromeUpdateSync($event, 'redirects')">
            </app-toggle>
        </div>
    </section>

    <section class="footer d-flex justify-content-center align-items-center">
        <app-footer></app-footer>
    </section>

</div>
