.main {
  width: 250px;
  height: 250px;

  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  grid-template-areas:
  '. header header .'
  'body body body body'
  'body body body body'
  '. footer footer footer';

  .header {
    grid-area: header;
  }

  .body {
    grid-area: body;
    background-color: #DEDEDF;

    .offset-top {
      margin-top: -9px;
    }
  }

  .footer {
    grid-area: footer;

    .copyright {
      color: var(--bs-secondary);
    }
  }
}
