.main {
  width: 250px;
  height: 250px;

  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(10, 10%);
  grid-template-areas:
  '. header header .'
  '. header header .'
  'body body body body'
  'body body body body'
  'body body body body'
  'body body body body'
  'info info info info'
  'info info info info'
  'info info info info'
  '. footer footer footer';

  .header {
    grid-area: header;
  }

  .body {
    grid-area: body;
    background-color: #DEDEDF;

    .offset-top {
      margin-top: -9px;
    }
  }

  .info {
    grid-area: info;

    span {
      font-size: 12px;
    }
  }

  .footer {
    grid-area: footer;

    .copyright {
      color: var(--bs-secondary);
    }
  }
}
